.container {
  padding: 30px 100px 0 100px;
  background-color: transparent;
}

form {
  padding: 20px 15px;
  border-radius: 6px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form {
  background-color: transparent;
  width: 50%;
}

.todo-button {
  background-color: #6822D1;
  color: #fff;
}

.todo-button:hover {
  background-color: #4d08b4;
  color: #fff;
}

li {
  text-decoration: none;
  list-style: none;
  margin-left: 15px;
  height: 100%;
  border-radius: 6px;
  margin-top: 25px;
  display: "flex";
  padding: 20px 30px 20px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

li p {
  color: gray;
}

.button {
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.detail-btn {
  text-decoration: none;
}

.detail-btn:hover {
  text-decoration: underline;
}

.detail-wrapper {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 500px;
  height: 300px;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box p {
  color: gray;
}